.header {
	background-color: #fff;
	border-bottom: 1px solid #000;
	text-align: center;
	height: 60px;
}

.config {
	min-height: calc(100vh - 60px);
	overflow-y: auto;

	.left {
		border-right: 1px solid #000;
	}
}
